@import '../../styles/_variables.sass' 

.contactWrapper
  font-size: $font-base 
  color: $text-grey
  line-height: 1.5

.orangeText
  color: $orange
  font-weight: 600
  cursor: pointer
  transition: color 0.2s

  &:hover
    color: $orange-hover