@import '../../styles/_variables.sass'

@mixin stepCard
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  margin: $space-90 0 $space-30 0
  max-width: 540px
  font-family: Raleway, sans-serif
  h3
    text-align: center
    margin-bottom: $space-lg
    font-size: $font-xl

  p
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    margin-bottom: $space-sm
    line-height: 25px

    i
      align-self: flex-start
      color: $green
      margin: $space-xs $space-sm 0 0

  span
    font-size: $font-18

  @media screen and (max-width: 1024px)
    margin: $space-90 0 $space-30 0
    padding: 0 $space-80


.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  h2
    text-align: center
    font-family: Raleway, sans-serif
    margin: $space-30 0
    font-size: $font-30
    font-weight: 500

  &__description
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    .cardContainer
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: flex-start
      @media (max-width: 720px)
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center

    .card
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      max-width: 300px
      margin: $space-xxl $space-xxl $space-xxl 0
      font-family: Raleway, sans-serif

      h3
        margin-top: $space-lg
        font-size: $font-xl
        font-weight: 500

      p
        margin-top: $space-sm
        font-size: $font-sm
        line-height: 20px
        font-weight: 400

      img
        max-height: 85px

      &:last-child
        margin-right: 0

      @media screen and (max-width: 768px)
        max-width: 100%
        margin: $space-xxl

      @media screen and (max-width: 414px)
        p
          margin-right: $space-sm

  .adv
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    margin-bottom: $space-50
    width: 100%
    max-width: 1100px

    .images
      img
        max-height: 40px
        cursor: pointer

      img:first-child
        display: block

      img:last-child
        display: none

      &:hover
        img
          max-height: 40px
          cursor: pointer

        img:first-child
          display: none

        img:last-child
          display: block

      @media screen and (max-width: 414px)
        img
          max-height: 20px
          max-width: 70px
          margin: 0 $space-30

        &:hover
          max-height: 20px
          max-width: 70px
          margin: 0 $space-30

  .stats
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    div
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      padding: $space-sm $space-lg
      border-right: 1px solid $text-grey
      @media (max-width: 580px)
        padding: $space-sm $space-xs

      p
        font-family: Lato, sans-serif
        margin-right: $space-sm
        font-size: $font-20
        font-weight: 600

      span
        font-family: Raleway, sans-serif
        font-size: $font-18
        font-weight: 400

    div:last-child
      border-right: 0

    @media screen and (max-width: 414px)
      flex-wrap: wrap

    div
      margin-bottom: $space-sm
      border-right: 0

  .step
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    padding: $space-xxl 0

    div
      @include stepCard

    @media screen and (max-width: 823px)
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center

    img
      width: 100%

.whiteStep
  @include stepCard

.greenStep
  @include stepCard
  color: $white

@mixin underline
  position: relative
  &:after
    position: absolute
    content: ''
    height: 3px
    bottom: -$space-30
    margin: 0 auto
    left: 0
    right: 0
    width: 100px

.blueUnderline
  @include underline

  &:after
    background: $blue-underline

.whiteUnderline
  @include underline

  &:after
    background: $white

@mixin innerContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  padding: $space-xxl 0 $space-30 0

.stepReverse
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-start
  padding: $space-xxl 0

  div
    @include stepCard

  @media screen and (max-width: 950px)
    padding: 0
    display: flex
    flex-direction: column-reverse
    justify-content: flex-start
    align-items: center

  img
    width: 100%

  div
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin: $space-90 0 $space-30 0
    padding: 0 $space-80
    width: 100%
    @media (max-width: 720px)
      padding: 0

  @media screen and (max-width: 414px)
    padding: 0

.greyContainer
  @include innerContainer
  background-color: $bg-grey

.firstNamingPlatformContainer
  @include innerContainer

.whiteContainer
  @include innerContainer
  background-color: $white

.greenContainer
  @include innerContainer
  background-color: $cyan

.readyToStartContainer
  width: 100%

.articleToStartWrapper
  box-sizing: border-box
  margin: $space-lg auto
  max-width: 1140px
  width: 100% 
  display: flex
  justify-content: space-between
  align-items: center
  padding: $space-30 
  background: linear-gradient(45deg, $gradient-start, $gradient-end)
  color: $white
  gap: $space-sm
  @media screen and (max-width: 850px) 
    flex-direction: column
    align-items: start
    
  i
    color: $black
    font-weight: 200
    background-color: $white
    padding: $space-lg

.blueContainer
  @include innerContainer
  background-color: $bg-blue
  color: $white

  h2
    margin-bottom: $space-xxl

.headerBar
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding-top: $space-75
  max-width: 1140px

  h3
    margin-bottom: $space-lg
    font-family: Raleway, sans-serif
    font-size: $font-30
    font-weight: 500

  p
    font-family: Raleway, sans-serif
    margin-bottom: $space-30
    padding: 0 $space-md
    text-align: center
    font-size: $font-18
    font-weight: 400
    line-height: 25px

.headline
  margin: $space-lg 0
  text-align: center
  font-family: Raleway, sans-serif

  span:first-child
    line-height: 39px
    font-size: $font-36
    font-weight: 500
    padding: $space-7 0

  span:last-child
    line-height: 40px
    font-size: $font-35
    font-weight: 700
    padding: $space-7 0
    margin-left: $space-xs

  transition: width .3s -0.1s

  &__static
    position: relative

    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      height: 3px
      width: 0
      background: $cyan
      animation: cd-pulse 3s infinite

@keyframes cd-pulse
  0%
    width: 0
  100%
    width: 100%

.button
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  color: $cyan
  border: 2px solid $cyan
  border-radius: $radius-xs
  height: 60px
  cursor: pointer
  background-color: transparent
  min-width: 300px
  width: 300px
  margin: $space-xxl 0

  &__link
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: inherit
    font-family: 'Lato', sans-serif
    font-size: $font-sm
    font-weight: 500
    height: 100%
    flex: 1

    &:hover
      color: inherit
      text-decoration: none

  &:hover
    color: $white
    background-color: $cyan