
$orange: #f27e51
$cyan: #28d2d0
$grey-border: #ebebeb
$dark-blue: #495d8b


$white: #ffffff
$purple-dark: #2b1654
$purple-light: #3d34b5
$yellow-btn: #f29023
$yellow-btn-hover: #e07f1b
$text-dark-blue: #19184A
$text-grey: #77838f
$text-dark: #333333
$card-border: #ebeeef